<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
    <h1> Hi </h1>
    <h2>
        <a href="/page/index/{{ uid }}/mine/">{{ account }}</a>
    </h2>
    <hr>
    <h2>来自话题：{{ topic }}</h2>
        {% csrf_token %}
        <table>
            {% for question in questions %}
                <tr>
                    <td><a href="/page/index/{{ uid }}/question/{{ question.qid }}/">{{ question.title }}</a></td>
                    <td>{{ question.content }}</td>
                    <td>{{ question.time }}</td>
                    <td>{{ question.ideanum }}</td>
                </tr>
            {% endfor %}
        </table>

</body>
</html>
